<section class="featured-products">
    <div class="featured-heading">
        Featured Products<br> <span class="featured-seperator" style="color: lightgrey;">_____</span></div>
    <div class="featured-grid product-grid-4">
        <div class="product-card">
            <div class="product-image"><a href="https://demo.bagisto.com/bagisto-102-166-231-208/products/leather-shoes"
                    title="Leather Shoes"><img
                        src="https://demo.bagisto.com/bagisto-102-166-231-208/cache/medium/product/10/g9MWbXfh8d5vx2IntokKpH0aFd0j4xu7aJvrG1H3.jpeg"
                        onerror="this.src='https://demo.bagisto.com/bagisto-102-166-231-208/vendor/webkul/ui/assets/images/product/meduim-product-placeholder.png'"></a>
            </div>
            <div class="product-information">
                <div class="product-name"><a
                        href="https://demo.bagisto.com/bagisto-102-166-231-208/products/leather-shoes"
                        title="Leather Shoes"><span>
                            Leather Shoes
                        </span></a></div>
                <div class="product-price"><span class="price-label">As low as</span> <span
                        class="final-price">$59.00</span></div>
                <div class="cart-wish-wrap"><a
                        href="https://demo.bagisto.com/bagisto-102-166-231-208/checkout/cart/addconfigurable/leather-shoes"
                        class="btn btn-lg btn-primary addtocart">
                        Add To Cart
                    </a></div>
            </div>
        </div>
        <div class="product-card">
            <div class="sticker new">
                New
            </div>
            <div class="product-image"><a
                    href="https://demo.bagisto.com/bagisto-102-166-231-208/products/apple-iphone-7"
                    title="Apple iPhone 7"><img
                        src="https://demo.bagisto.com/bagisto-102-166-231-208/cache/medium/product/5/kTDz5bWWqssZw1fVwDCundkizvAnXuk15J4HHVNH.jpeg"
                        onerror="this.src='https://demo.bagisto.com/bagisto-102-166-231-208/vendor/webkul/ui/assets/images/product/meduim-product-placeholder.png'"></a>
            </div>
            <div class="product-information">
                <div class="product-name"><a
                        href="https://demo.bagisto.com/bagisto-102-166-231-208/products/apple-iphone-7"
                        title="Apple iPhone 7"><span>
                            Apple iPhone 7
                        </span></a></div>
                <div class="product-price"><span class="price-label">As low as</span> <span
                        class="final-price">$800.00</span></div>
                <div class="cart-wish-wrap"><a
                        href="https://demo.bagisto.com/bagisto-102-166-231-208/checkout/cart/addconfigurable/apple-iphone-7"
                        class="btn btn-lg btn-primary addtocart">
                        Add To Cart
                    </a></div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image"><a
                    href="https://demo.bagisto.com/bagisto-102-166-231-208/products/t-shirt-navy-blue"
                    title="T Shirt Navy Blue"><img
                        src="https://demo.bagisto.com/bagisto-102-166-231-208/cache/medium/product/2/y2YcgMkSNQTyJVc5a5FQbryBGto13APuc2AwEAUR.jpeg"
                        onerror="this.src='https://demo.bagisto.com/bagisto-102-166-231-208/vendor/webkul/ui/assets/images/product/meduim-product-placeholder.png'"></a>
            </div>
            <div class="product-information">
                <div class="product-name"><a
                        href="https://demo.bagisto.com/bagisto-102-166-231-208/products/t-shirt-navy-blue"
                        title="T Shirt Navy Blue"><span>
                            T Shirt Navy Blue
                        </span></a></div>
                <div class="product-price"><span>$95.00</span></div>
                <div class="cart-wish-wrap">
                    <form action="https://demo.bagisto.com/bagisto-102-166-231-208/checkout/cart/add/2" method="POST">
                        <input type="hidden" name="_token" value="RQ1wbQZTNUFgkIcjveDLtRDf4Axu7Q2DpPBj75vD"> <input
                            type="hidden" name="product" value="2"> <input type="hidden" name="quantity" value="1">
                        <input type="hidden" value="false" name="is_configurable"> <button
                            class="btn btn-lg btn-primary addtocart">Add To Cart</button></form>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="sticker new">
                New
            </div>
            <div class="product-image"><a href="https://demo.bagisto.com/bagisto-102-166-231-208/products/t-shirt-black"
                    title="T Shirt Black"><img
                        src="https://demo.bagisto.com/bagisto-102-166-231-208/cache/medium/product/1/tsN5KPBx0FpJnWdnGAeA6mf6kVgxNBCtSWRDSKde.jpeg"
                        onerror="this.src='https://demo.bagisto.com/bagisto-102-166-231-208/vendor/webkul/ui/assets/images/product/meduim-product-placeholder.png'"></a>
            </div>
            <div class="product-information">
                <div class="product-name"><a
                        href="https://demo.bagisto.com/bagisto-102-166-231-208/products/t-shirt-black"
                        title="T Shirt Black"><span>
                            T Shirt Black
                        </span></a></div>
                <div class="product-price"><span>$100.00</span></div>
                <div class="cart-wish-wrap">
                    <form action="https://demo.bagisto.com/bagisto-102-166-231-208/checkout/cart/add/1" method="POST">
                        <input type="hidden" name="_token" value="RQ1wbQZTNUFgkIcjveDLtRDf4Axu7Q2DpPBj75vD"> <input
                            type="hidden" name="product" value="1"> <input type="hidden" name="quantity" value="1">
                        <input type="hidden" value="false" name="is_configurable"> <button
                            class="btn btn-lg btn-primary addtocart">Add To Cart</button></form>
                </div>
            </div>
        </div>
    </div>
</section>
